<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Template</title>
</head>
<body>
{{> client/layout/clientHeader }}
{{{ body }}}
{{> client/layout/clientFooter }}
</body>
</html>