<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcom</title>
</head>
<body>
    {{loginResponse.userName}}({{loginResponse.userId}})'s welcompage<br>
    LOGIN ID : {{loginResponse.userEmail}}
</body>
</html>